.product {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #b2d4b6;
  border-top: 1px solid #bbc0c4;
  width: 150px;
}

.title {

}

.add {
  cursor: pointer;
}
